<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
                                              xmlns:android="http://schemas.android.com/apk/res/android"
                                              id="com.phonegap.plugins.barcodescanner"
                                              version="2.1.1">

    <name>BarcodeScanner</name>
    <description>You can use the BarcodeScanner plugin to scan different types of barcodes (using the device's camera) and get the metadata encoded in them for processing within your application.</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/barcodescanner.js" name="BarcodeScanner">
        <clobbers target="cordova.plugins.barcodeScanner" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <!-- Cordova >= 2.8 -->
        <config-file target="config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="ios-package" value="CDVBarcodeScanner" />
            </feature>
        </config-file>

        <resource-file src="src/ios/scannerOverlay.xib" />

        <header-file src="src/ios/zxing-all-in-one.h" />

        <source-file src="src/ios/CDVBarcodeScanner.mm" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/zxing-all-in-one.cpp" />

        <framework src="libiconv.dylib" />
        <framework src="AVFoundation.framework" />
        <framework src="AssetsLibrary.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="QuartzCore.framework" />
    </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="wp-package" value="BarcodeScanner"/>
            </feature>
        </config-file>

        <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
            <Capability Name="ID_CAP_ISV_CAMERA" />
        </config-file>

        <source-file src="src/wp8/BarcodeScanner.cs" />
        <source-file src="src/wp8/BarcodeScannerResult.cs" />
        <source-file src="src/wp8/Scan.xaml" />
        <source-file src="src/wp8/Scan.xaml.cs" />
        <framework src="src/wp8/zxing.wp8.0.dll" custom="true" />
    </platform>

    <!-- android -->
    <platform name="android">

        <source-file src="src/android/com/phonegap/plugins/barcodescanner/BarcodeScanner.java" target-dir="src/com/phonegap/plugins/barcodescanner" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="android-package" value="com.phonegap.plugins.barcodescanner.BarcodeScanner" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.google.zxing.client.android.CaptureActivity"
                android:clearTaskOnLaunch="true"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:windowSoftInputMode="stateAlwaysHidden"
                android:exported="false">
                <intent-filter>
                    <action android:name="com.google.zxing.client.android.SCAN"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
            <activity android:name="com.google.zxing.client.android.encode.EncodeActivity" android:label="Share">
                <intent-filter>
                    <action android:name="com.phonegap.plugins.barcodescanner.ENCODE"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
            <activity android:name="com.google.zxing.client.android.HelpActivity" android:label="Share">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.FLASHLIGHT" />
            <!-- Not required to allow users to work around this -->
            <uses-feature android:name="android.hardware.camera" android:required="false" />
        </config-file>

        <framework src="src/android/barcodescanner.gradle" custom="true" type="gradleReference"/>
        <resource-file src="src/android/barcodescanner-release-2.0.0.aar" target="libs/barcodescanner.aar" />
    </platform>
</plugin>
